<div class="container">

  <ui-home
     image="/images/alan.jpg" 
     title="Alan López" 
     info="CEO del CUT, seductor en sus tiempos libres" 
     text_btn="Ver más"
     [clickEvent]="conocerMas"
   />

  <ui-home
     image="/images/alanjr.jpg" 
     title="Alan López Jr." 
     info="Está chiquillo" 
     text_btn="Adoptar"
     [clickEvent]="adoptar"
   />

  <ui-home
     image="/images/donpedro.jpg" 
     title="Don Pedro" 
     info="Se le olvidó que se cambió a Movistar" 
     text_btn="Comprar SIM"
     [clickEvent]="comprarSIM"
   />


</div>

<router-outlet />
