.box{
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    justify-items: center;
    h3{
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
    }
    input{
        width: 99%;
        height: 45px;
        border: none;
        border-radius: 25px;
        background-color: #F28749;
        margin-bottom: 15px;
    }

    button{
        font-size: 1.5rem;
        border: none;
        border-radius: 15px;
        padding: 5px 10px;
        background-color: #97F294
    }
}